@use './partials/mixins' as *;
@use './partials/reset' as *;
@use './partials/variables' as *;
@use './partials/typography' as *;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";


body {
    background-color: $custom-white;
}

.custom-container{
    margin: 0 auto;
    width: 80%;
}
ul{
    list-style: none;
}